// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-dark: #777;

$color-grey-dark-1: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#f7f7f7;

// FONT-SIZE
$default-font-size:1.6rem;


// GRID
$grid-width:80%;
$vertical-gutter:1rem;
$horizontal-gutter:6rem;
