.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  animation: moveUp 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;



  &:hover ,
  &:focus{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.4s;
    animation: none;


    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition:all .2s;
  }

  &:hover {
    background-color:$color-primary;
    color:$color-white;
    box-shadow:0 1rem 2rem rgba($color-black,.15);
    transform:translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black,.15);
    transform: translateY(0);
  }
}
