.popup{
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba($color-black,.8);
  z-index: 9999;
  backface-visibility: hidden;


  &__content{
  @include absCenter;
  width:75%;
  height: 50rem;
  background-color: $color-white;
  box-shadow: 0 2rem 4rem rgba($color-black,.2);
  border-radius: 3px;
  display: table;
  backface-visibility: hidden;
  overflow:hidden;

  }

  &__left{
    width: 33.333333333%;
    display: table-cell;
    backface-visibility: hidden;

  }

  &__right{
    width:66.66666677%;
    display: table-cell;
    vertical-align: middle;
    padding:3rem 5rem;

  }

  &__img{
    display: block;
    width:100%;
    border:none;
  }

  &__text{
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule:1px solid $color-grey-light-2;
  }
}
