.section-about{
  background-color: $color-grey-light-1;
  padding: 22rem 0;
  margin-top:-20vh;
  // padding-bottom:25rem;
}

.section-features{
  padding:20rem 0;
  background-image: linear-gradient(to right, rgba($color-primary-light, .7), rgba($color-primary-dark, 0.7)), url("/img/nat-4.jpg");
  background-size: cover;
  margin-top:-10rem;
  transform: skewY(-7deg);

  & > *{
    transform: skewY(7deg);

  }
}

.section-tours{
  background-color: $color-grey-light-1;
  padding: 22rem 0 10rem 0;
  margin-top:-10rem;
}

.section-stories{
  padding:15rem 0;
  position: relative;
}

.section-book{
  padding:15rem 0;
  background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
}

.book{
  background-image:linear-gradient(105deg,
                           rgba($color-white,.9) 50%,
                                transparent 50%),
                             url(../img/nat-10.jpg);
  background-size:100%;
  border-radius:3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black,.15);

  height:50rem;


  &__form{
    width:50%;
    padding:6rem;
  }
}
